.ant-form-item-label{
  /*min-width: 120px;*/
  max-width: 120px;
  text-align: right!important;
  white-space: normal;
 /* height: 40px;*/
  & > label{
    display: inline-block;
  }
}
.ant-form-item{
  //height: 48px;
  //height: auto;
}



// Action bar custom style
.actionbar-box {

  .action-row > .ant-col {
    padding: 8px 12px !important;

    .ant-form-item-label {
      padding-right: 4px !important;
      height: 32px;
      line-height: 32px;

      label {
        font-weight: bold;
      }
    }
  }

}