
.ant-collapse-item:hover{
  background-color: rgba(21, 134, 65, 0.11);
}

.ant-collapse-item-active{
  background-color: rgba(21, 134, 65, 0.11);
}

.ant-collapse-item-active:hover{
  background-color: rgba(21, 134, 65, 0.11);
}


.ant-collapse-content .ant-collapse  .ant-collapse-item {
  background-color: rgba(93, 95, 90, 0.18);
}

.ant-collapse-content .ant-collapse .ant-collapse-item:hover {
  background-color: rgba(5, 66, 27, 0.11);
}

.ant-collapse-content .ant-collapse .ant-collapse-item-active {
  background-color: rgba(5, 66, 27, 0.11);
}