// Fixed header in tables

/*
.master_detail_card_body {
  padding-top: 0 !important;
}

.ant-table-content .ant-table-thead {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.ant-table-content .ant-table-thead tr {
  box-shadow: 1px 1px 10px 1px #dbdbdb;
}

.ant-table-content .ant-table-thead > tr > th {
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: right;
  background: #f1f1f1;
  border: none;
  font-size: 13px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.actionbar-box {

  .action-row>.ant-col {
    padding: 8px 12px !important;

    .ant-form-item-label {
      padding-right: 4px !important;
      height: 32px;
      line-height: 32px;

      label {
        font-weight: bold;
      }
    }
  }

}*/
