$hover-percentage: 6%;

:root {
  --box-shadow: 0 1px 4px 0 var(--shadow-color);
  --header-height: 48px;
  --action-bar-height: 45px;
  --font-size-base: 14px;
  --transition: 0.2s ease-in-out;
  --border-radius-base: 2px;
}
